[metadata]
name = "git-diff"
description = "A channel to select files from git diff commands"
requirements = ["git"]

[source]
command = "bash -c 'git diff --name-only HEAD 2>/dev/null || exit 0'"

[preview]
command = "bash -c 'git diff HEAD --color=always -- \"{}\" 2>/dev/null || echo \"No changes\"'"
