{
	"mcpServers": {
		"nushell": {
			"command": "{{ .chezmoi.homeDir }}/.cargo/bin/mcp-server-nu",
			"args": [
				"--nu-config",
				"{{ .chezmoi.homeDir }}/Library/Application Support/nushell/config.nu",
				"--nu-env-config",
				"{{ .chezmoi.homeDir }}/Library/Application Support/nushell/env.nu"
			],
			"env": {}
		}
	}
}
