<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.greg.sketchybar-display</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ .chezmoi.homeDir }}/Code/dotfiles/bin/sketchybar-display-listener</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>/tmp/com.greg.sketchybar-display.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.greg.sketchybar-display.err</string>
</dict>
</plist>
