{
  "marketplaces": {
    {{- if eq .chezmoi.os "darwin" }}
    "superwhisper": {
      "source": "github",
      "repo": "superultrainc/superwhisper-claude-code"
    },
    {{- end }}
    "claude-plugins-official": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    }
  },
  "plugins": [
    {{- if eq .chezmoi.os "darwin" }}
    "superwhisper@superwhisper",
    {{- end }}
    "superpowers@claude-plugins-official",
    "context7@claude-plugins-official",
    "code-review@claude-plugins-official",
    "code-simplifier@claude-plugins-official",
    "typescript-lsp@claude-plugins-official",
    "firecrawl@claude-plugins-official",
    "skill-creator@claude-plugins-official",
    "security-guidance@claude-plugins-official",
    "feature-dev@claude-plugins-official"
  ]
}
