{
  "marketplaces": {
    "claude-plugins-official": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    }
  },
  "plugins": [
    "superpowers@claude-plugins-official",
    "code-review@claude-plugins-official",
    "code-simplifier@claude-plugins-official",
    "typescript-lsp@claude-plugins-official",
    "skill-creator@claude-plugins-official",
    "security-guidance@claude-plugins-official",
    "feature-dev@claude-plugins-official"
  ]
}
